.App {
  text-align: center;
  min-width: 220px;
  width: 100%;
  margin: 0 !important;
}

.Navlink {
  padding: 1rem
}

.viewgame {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 90vh;
}


.game {
  background-color: black !important;
  min-height: 90vh;
  width:90% !important;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  border-radius: 2%;
  text-align: center;
  margin: 20px !important
}

.footer {
  background-color: rgba(0, 0, 0, 0.558);
  color:rgb(177, 177, 177);
  width: 100%;
}

.appFooterSticky {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.appFooterFixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* nav */

#imgheader {
  width: 100vw;
  height: auto;
  margin-bottom: 3rem;
}

#navcontainer {
  padding: 0 1rem;
}

.brand {
  font-family: 'Bungee Spice', 'Roboto', sans-serif;
}
h2 {
  text-align: center;
  font-family: 'Bungee Spice', 'Roboto', sans-serif;;
  font-size: 3rem;
  padding: 10px 0 30px 0;
}


#carousel {
  height: auto;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  margin-bottom: 3rem;
}


.carlink {
  font-family: 'Bungee Spice', sans-serif;
  color: white !important
}

#btcarousel {
  width: 100%;
  max-height: 500px;
}

.imgcar {
  max-width: 80vw;
  max-height: 400px;
}



@media only screen and (max-width: 450px) {

  h2 {
    font-size: 2rem;
  }

  
}

@media only screen and (max-width: 450px) {
  .brand {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 290px) {

  h2 {
    font-size: 1.3rem;
  }
}



/* index page */

#main-bot { padding: 50px 10px 50px 10px; height: 100%; position: relative; margin-bottom: 60px;}

#block { padding: 0; margin-bottom: 10px; border-radius: 5px; height: fit-content; position: relative; background-color: #494949}
.container-title { padding: 10px 10px 10px 9px; width: 100%; background-color: #aeaeae; color: black; font-weight: bold; border-top-left-radius: 5px; border-top-right-radius: 5px;}

#lstgrp {
  background-color: transparent;
}

.listItem {
  background-color: transparent !important; padding: 10px 0
}

.gamedetail {
  color: rgb(200, 200, 200);
  font-size: 0.8rem;
  padding: 5px 10px 0 10px;
}


