html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #a0a0a0;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34, 34, 34); 
  text-align: left;
  min-width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #a0a0a0;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: rgb(249, 96, 14)
}


